@{
    ViewData["Title"] = "Contact us";

}
<div class="container">
    <div style="text-align: left">
      <div class="icon-btn">
        <a style="background-color: red; padding: 10px; color: white; margin-top: 10px;" href="#">
          <img src="https://www.aegona.com/themes/gavias_comely/assets/icon/logo-small.png" alt="aegona" />
          <span>Contact Us</span></a>
      </div>
      <h2 style="color: #003363; font-weight: bold;">SEND US A MESSAGE</h2>
    </div>
    <div class="rows ">
      <div class="columns image-Contact">
        <div class="logo-Ae">
          <img src=https://www.aegona.com/themes/gavias_comely/assets/image/contact-us-page/logo.png alt="alt" />
        </div>
        <div class="group-Content">
          <div class="box-Content">
            <div class="title-Content">
              <h4>
                Aegona is an IT service company based in Ho Chi Minh city,
                VietNam. At Aegona we provide.
              </h4>
              <ul class="description-Content">
                <li>Software Development</li>
                <li>Software Testing</li>
                <li>
                  Automation Testing and Software Maintenance services for
                  North America, Japan, Singapore and VietNam.
                </li>
              </ul>
            </div>
            <div class="box-Content">
              <div class="title-Content">
                <h2>Information</h2>
              </div>
              <ul class="description-Content">
                <li>
                  <span>Address :</span>

                  QTSC Building 9 Quang Trung Software City Tan Chanh Hiep
                  Ward, District 12, Ho Chi Minh City, Viet Nam
                </li>
                <li>
                  <span>Email :</span>
                  <a href="mailto : contact@aegona.com">contact@aegona.com</a>
                </li>
                <li>
                  <span>Phone :</span>
                  <a href="tel : +84 28 7109 2939">+84 28 7109 2939</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <form action="/action_page.php">
          <label for="fname">FullName</label>
          <input type="text" id="fname" name="fname" placeholder="FullName" />
          <label for="Cname">Company Name</label>
          <input type="text" id="Cname" name="Cname" placeholder="Company Name" />
          <label for="bphone">Business Phone</label>
          <input id="bphone" name="bphone" type="text" placeholder="Business Phone" />
          <label for="email-ae">Email</label>
          <input id="email-ae" name="email-ae" type="text" placeholder="Email" />
          <label for="message">Message</label>
          <textarea id="message" name="message" placeholder="Write something.." style="height: 170px"></textarea>
           
         <!-- Capchar -->
         
       
         <h1>CAPTCHA DEMO</h1>
    
         <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>


            </form>
      </div>
      </div>
          <input type="submit" value="Send Message" />
        
      </div>
    </div>
  </div>